@import '@/shared/styles/fonts.variables.scss';

.block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.block__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  @include body2;
}

.block__user-name {
  @include headline5;
}
