@use '@/shared/styles/fonts.variables.scss' as fonts;

.block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.block__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  @include fonts.body2;
}

.block__user-name {
  @include fonts.headline5;
}
