# Dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
coverage

# Next.js
.next/
out/

# Production
build
dist

# Logs and Debug
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment Files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local

# System Files
.DS_Store
.idea
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary Files
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# Debug Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Miscellaneous
*.pem
.typescript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Optional Coverage Output
.nyc_output

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
