@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/fonts.variables.scss' as fonts;
@use '@/shared/styles/borders.variables.scss' as borders;
@use '@/shared/styles/radiuses.variables.scss' as radiuses;

.date-picker {
  display: inline-block;
  position: relative;

  .calendar,
  .calendar-mb {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    padding: 2px;
    margin-top: 0.5rem;
    background-color: colors.$background;
    @include borders.border;
    border-radius: radiuses.$radius;
    box-shadow: 0 4px 6px colors.$light-grey300;

    span {
      display: inline-block;
      padding: 6px 8px;
      @include fonts.body1;
    }

    button {
      padding: 6px;
      font-size: 1rem;
      background-color: colors.$background;
      border: none;

      &:hover {
        background-color: colors.$background-darken;
      }
    }
  }

  .calendar-mb {
    left: 0;
    right: auto;
    z-index: 20;
  }
}
