@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/fonts.variables.scss' as fonts;
@use '@/shared/styles/borders.variables.scss' as borders;

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
  transition: 0.5s;

  .label {
    margin-bottom: 2px;
    @include fonts.body2;
  }

  .input {
    padding: 10px;
    @include fonts.body1;
    @include borders.border;

    &:focus {
      outline: none;
      @include borders.border-focus;
    }

    &::placeholder {
      color: colors.$light-grey400;
    }
  }

  .error {
    margin: 2px 0;
    @include fonts.body2;
    color: colors.$error;
  }
}
