@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/fonts.variables.scss' as fonts;
@use '@/shared/styles/radiuses.variables.scss' as radiuses;

.image {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  @include fonts.headline4;
  background-color: colors.$pine-greem50;
  color: colors.$pine-greem800;
  border-radius: radiuses.$radius;
}
