@import '@/shared/styles/colors.variables.scss';
@import '@/shared/styles/fonts.variables.scss';
@import '@/shared/styles/radiuses.variables.scss';

.image {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
  @include headline4();
  background-color: $pine-greem50;
  color: $pine-greem800;
  border-radius: $radius;
}
