@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/borders.variables.scss' as borders;
@use '@/shared/styles/radiuses.variables.scss' as radiuses;

.checkbox {
  appearance: none;
  padding: 9px 10px;
  @include borders.border;
  border-radius: radiuses.$radius;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: colors.$primary;
    border-color: colors.$primary;
  }

  &:checked::after {
    content: '✔';
    color: white;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
}
