@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/fonts.variables.scss' as fonts;

.cell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  padding: 8px 12px;
  background-color: colors.$light-grey100;
}

.cell__title {
  @include fonts.body1;
}

.cell__value {
  @include fonts.headline4;
}
