@import '@/shared/styles/colors.variables.scss';
@import '@/shared/styles/fonts.variables.scss';

.cell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  padding: 8px 12px;
  background-color: $light-grey100;
}

.cell__title {
  @include body1;
}

.cell__value {
  @include headline4;
}
