@use '@/shared/styles/fonts.variables.scss' as fonts;

.table {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 15px;

  &__title {
    display: inline-block;
    @include fonts.headline6;
  }

  &__button {
    margin: 10px 0px 20px 0px;
    display: inline-block;
  }
}
