@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/fonts.variables.scss' as fonts;
@use '@/shared/styles/borders.variables.scss' as borders;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
  @include fonts.button;
  color: colors.$primary;
  background: none;
  border: none;
  cursor: pointer;
}

.transparent-button {
  &:hover {
    background-color: colors.$pine-greem50;
  }

  .icon {
    width: 18px;
    height: 18px;
    color: colors.$primary;
  }
}

.border-button {
  @include borders.border;

  &:hover {
    background-color: colors.$pine-greem50;
  }
}

.filled-button {
  background-color: colors.$primary;
  color: colors.$light-grey50;

  &:hover {
    background-color: colors.$primary-lighten;
  }

  .icon {
    width: 18px;
    height: 18px;
    color: colors.$light-grey50;
  }
}
