@import '@/shared/styles/colors.variables.scss';
@import '@/shared/styles/fonts.variables.scss';
@import '@/shared/styles/borders.variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px 20px;
  @include button();
  color: $primary;
  background: none;
  border: none;
  cursor: pointer;
}

.transparent-button {
  &:hover {
    background-color: $pine-greem50;
  }

  .icon {
    width: 18px;
    height: 18px;
    color: $primary;
  }
}

.border-button {
  @include border();

  &:hover {
    background-color: $pine-greem50;
  }
}

.filled-button {
  background-color: $primary;
  color: $light-grey50;

  &:hover {
    background-color: $primary-lighten;
  }

  .icon {
    width: 18px;
    height: 18px;
    color: $light-grey50;
  }
}
