@use '@/shared/styles/colors.variables.scss' as colors;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: colors.$primary colors.$background;
  scrollbar-width: thin;
}

body {
  background-color: colors.$background;
}
