@import '@/shared/styles/fonts.variables.scss';

.time-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 20rem;
  max-width: 30rem;
  word-wrap: break-word;
}

.drag-handle {
  display: inline-block;
  cursor: grab;
  user-select: none;
  padding: 4px;
  font-weight: bold;
}

.drag-handle:active {
  cursor: grabbing;
}

.name {
  display: block;
  @include headline5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

.duration {
  @include body1;
}

.actions {
  display: flex;
  justify-content: right;
}
