@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/radiuses.variables.scss' as radiuses;

.menu {
  display: flex;
  justify-content: space-evenly;
  gap: 3px;
  padding: 5px;
  background-color: colors.$light-grey100;
  border-radius: radiuses.$radius;
}
