@import '@/shared/styles/colors.variables.scss';
@import '@/shared/styles/radiuses.variables.scss';

.menu {
  display: flex;
  justify-content: space-evenly;
  gap: 3px;
  padding: 5px;
  background-color: $light-grey100;
  border-radius: $radius;
}
