@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/fonts.variables.scss' as fonts;

.transparent-field {
  width: 100%;
  border: none;
  outline: none;
  text-wrap: unset;
  @include fonts.body1;
  background-color: colors.$background;
}
