@import '@/shared/styles/colors.variables.scss';
@import '@/shared/styles/fonts.variables.scss';
@import '@/shared/styles/radiuses.variables.scss';

.menu__item {
  padding: 8px 16px;
  @include body1;
  text-decoration: none;
  border-radius: $radius;

  &:hover {
    background-color: $light-grey200;
  }
}

.active {
  background-color: $light-grey200;
}
