@import '@/shared/styles/colors.variables.scss';
@import '@/shared/styles/fonts.variables.scss';
@import '@/shared/styles/radiuses.variables.scss';

.menu__item,
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  @include body1;
  text-decoration: none;
  border-radius: $radius;

  &:hover {
    background-color: $light-grey200;
  }

  .icon {
    width: 18px;
    height: 18px;
    color: $font-color;
  }
}

.tab {
  flex-direction: column;
  @include body2;
}

.active {
  background-color: $light-grey200;
}
