@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/fonts.variables.scss' as fonts;
@use '@/shared/styles/radiuses.variables.scss' as radiuses;

.menu__item,
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  @include fonts.body1;
  text-decoration: none;
  border-radius: radiuses.$radius;

  &:hover {
    background-color: colors.$light-grey200;
  }

  .icon {
    width: 18px;
    height: 18px;
    color: colors.$font-color;
  }
}

.tab {
  flex-direction: column;
  @include fonts.body2;
}

.active {
  background-color: colors.$light-grey200;
}
