@import '@/shared/styles/borders.variables.scss';

.row,
.row-mb {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  @include border-bottom;

  &--task-input {
    flex-grow: 6;
    display: flex;
    justify-content: start;
    gap: 3px;
  }

  &--date-picker {
    min-width: 175px;
    flex-grow: 0.8;
    display: flex;
    justify-content: center;
  }

  &--priority-select {
    min-width: 100px;
    display: flex;
    justify-content: center;
  }

  &--delete-task-button {
    min-width: 100px;
    flex-grow: 0.3;
    display: flex;
    justify-content: center;
  }
}

.row-mb {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  height: fit-content;
  margin: 6px 0px;

  &--task-input {
    display: flex;
    justify-content: start;
    gap: 3px;
  }

  &--date-picker {
    display: flex;
    justify-content: center;
  }

  &--priority-select {
    display: flex;
    justify-content: center;
  }

  &--delete-task-button {
    display: flex;
    justify-content: center;
  }
}
