@use '@/shared/styles/colors.variables.scss' as colors;

@mixin border {
  border: 1px solid colors.$background-darken;
}

@mixin border-bottom {
  border-bottom: 1px solid colors.$background-darken;
}

@mixin border-focus {
  border: 1px solid colors.$primary;
}

@mixin border-bottom-focus {
  border: 1px solid colors.$primary;
}
