$pine-greem950: #0f1f17;
$pine-greem900: #1c382a;
$pine-greem800: #214431;
$pine-greem700: #27553c;
$pine-greem600: #316a49;
$pine-greem500: #3f7d58;
$pine-greem400: #64a37b;
$pine-greem300: #93c2a3;
$pine-greem200: #bedcc6;
$pine-greem100: #ddeee0;
$pine-greem50: #f1f8f3;

$warm-orange950: #3f150b;
$warm-orange900: #752f19;
$warm-orange800: #91371b;
$warm-orange700: #b64418;
$warm-orange600: #db5a1b;
$warm-orange500: #ea7325;
$warm-orange400: #ef9651;
$warm-orange300: #f4b87d;
$warm-orange200: #f8d6b0;
$warm-orange100: #fcedd8;
$warm-orange50: #fef7ee;

$light-grey950: #292929;
$light-grey900: #3d3d3d;
$light-grey800: #464646;
$light-grey700: #525252;
$light-grey600: #656565;
$light-grey500: #7c7c7c;
$light-grey400: #989898;
$light-grey300: #bdbdbd;
$light-grey200: #dcdcdc;
$light-grey100: #efefef;
$light-grey50: #f8f8f8;

$primary-lighten: $pine-greem400;
$primary: $pine-greem500;
$primary-darken: $pine-greem600;

$secondary-lighten: $warm-orange300;
$secondary: $warm-orange400;
$secondary-darken: $warm-orange500;

$backgound: $light-grey100;
$backgound-darken: $light-grey200;
$backgound-darkest: $light-grey300;

$font-color: $light-grey950;
$error: #db1b1b;
