@import '@/shared/styles/fonts.variables.scss';

.timer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .time {
    display: inline-block;
    @include headline2;
  }

  .badge {
    display: inline-block;
    @include body2;
  }

  &__buttons {
    display: flex;
    gap: 4px;
  }

  & * {
    align-self: flex-start;
  }
}

.create-timer-button {
  max-width: auto;
}

.refresh-timer-block {
  @include body1;
}

.refresh-timer-title {
  margin-bottom: 6px;
}
