@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/borders.variables.scss' as borders;

.pomodoro,
.pomodoro-mb {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rounds {
  display: flex;
  gap: 2px;
}

.round {
  width: 25px;
  height: 25px;
  @include borders.border;

  &__completed {
    width: 25px;
    height: 25px;
    background-color: colors.$primary;
    border: 0.5px solid colors.$primary;
  }
}

.pomodoro-mb {
  gap: 4px;

  .round {
    width: 20px;
    height: 20px;

    &__completed {
      width: 20px;
      height: 20px;
      background-color: colors.$primary;
      border: 0.5px solid colors.$primary;
    }
  }
}
