@import '@/shared/styles/colors.variables.scss';
@import '@/shared/styles/fonts.variables.scss';
@import '@/shared/styles/borders.variables.scss';
@import '@/shared/styles/radiuses.variables.scss';

.pomodoro {
  display: flex;
  align-items: center;
  gap: 6px;
}

.rounds {
  display: flex;
  gap: 2px;
}

.round {
  width: 25px;
  height: 25px;
  @include border;

  &__completed {
    width: 25px;
    height: 25px;
    background-color: $primary;
    border: 0.5px solid $primary;
  }
}
