@use '@/shared/styles/colors.variables.scss' as colors;
@use '@/shared/styles/borders.variables.scss' as borders;
@use '@/shared/styles/radiuses.variables.scss' as radiuses;

.parent {
  position: relative;
  display: inline-block;
}

.child {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  padding: 8px;
  background-color: colors.$light-grey50;
  @include borders.border;
  border-radius: radiuses.$radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.child button {
  color: colors.$font-color;

  &:hover {
    background-color: colors.$light-grey100;
  }
}
